body{
margin: 3%;
padding: 5%;

}
header{
background-color: #bdb76b;
background-image: url(../images/flywheel.jpg) ;
margin: 0;
}
h1{
color: #f5deb3;
text-align: center;
font-variant: small-caps;
font-size: 200%;
font-family:"Bauhaus 93";
}
nav a{
display: inline-block;
color: #ffffff;
font-family: fantasy;
background-color: #f5deb354;
margin: 5% 3%;
padding: 1% 3%;
text-align: center;
text-decoration: none;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
-ms-border-radius: 20px;
}
.left img{
display: block;
width: 60%;
margin: 10% auto;
border: dashed 3px #ffffff;
}
.left{
background-color: #ffe4c4;
background: -webkit-linear-gradient(45deg, #4CAF50, #FFEB3B);
background: -moz-linear-gradient(45deg, #4CAF50, #FFEB3B);
background: -o-linear-gradient(45deg, #4CAF50, #FFEB3B);
background: -ms-linear-gradient(45deg, #4CAF50, #FFEB3B);
display: inline-block;
width: 20%;
height: 90%;
margin: 0;
}
.left, .right{
margin: 0 2% 0 0;
float:left;
}
.right{
width: 70%;
display: inline-block;
margin: 0 0 0 2%;
font-family: "Times New Roman";
}
.active{
background-color: #ffffff;
color: #673ab7;
}
img[alt="Ultimate Frisbee"]{
margin: 0  auto 100% auto;
}
